<div class="card">
    <div class="top-image-holder">
        <img class="card-img-top" src="{{blog.blogimage}}">
        <div>{{'toaho asdjoasd asd as das d asd asdasd'}}</div>
    </div>
    <div class="card-block">
        <figure class="profile">
            <img src="{{blog.avatar}}" class="profile-avatar" alt="">
        </figure>
        <h4 class="card-title mt-3">{{blog.name}}</h4>
        <div class="meta">
            <a>Tags: {{blog.tags}}</a>
        </div>
        <div class="card-text">
            {{blog.description}}
        </div>
    </div>
    <div class="card-footer">
            <span><i class="glyphicon glyphicon-calendar"></i> {{blog.createdAt}} </span>
                <span>|</span>
                <span><i class="glyphicon glyphicon-comment"></i> {{blog.likes}} Likes</span>
                <span>|</span>
                <span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
            <button class="btn btn-secondary float-right btn-sm">show</button>
    </div>
</div>