<div class="grid-item grid-full">
<a href="#" class="grid-link" target="_self">
    <div class="grid-image" ></div>
    <div class="grid-text">
        <div class="post-tags">
            <span class="tag-badge">{{blog.tags}}</span>
        </div>
        <h4 class="post-title">{{blog.name}}</h4>
        <div class="post-meta">
            <span class="post-author meta-item">
                <span class="glyphicon glyphicon-user"></span> {{blog.user}}
            </span>
            <span class="date meta-item">
                <span class="glyphicon glyphicon-time"></span> 1 days ago
            </span>
            <div class="box-alignright pull-right">
                <span class="meta-comment meta-item">
                    <span class="glyphicon glyphicon-comment"></span> 0
                </span>
                <span class="meta-views meta-item">
                    <span class="glyphicon glyphicon-fire"></span> {{blog.likes}}
                </span>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="grid-hover-text">
        <div class="post-excerpt">{{blog.description}}</div>
    </div>
</a>
</div>